name: Manual Assignment Keep Alive

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest
    # Increase the overall timeout of the job to 15 minutes
    timeout-minutes: 15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install playwright && npx playwright install chromium --with-deps

      - name: Run Keep Alive Script
        # We still keep the retry logic here as a backup
        run: node keep_alive_manual.js || (sleep 30 && node keep_alive_manual.js)
